.header {
  padding: 20px 0;
  background: lightblue;
}

.header__content {
  display: flex;
  justify-content: space-between;
}

.logo {
  padding-left: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.form-search form {
  display: flex;
  align-items: center;
  min-width: 285px;
  margin-right: 25px;
}

.form-search form input {
  width: 100%;
  outline: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  padding-right: 45px;
}

.icon {
  display: flex;
  position: absolute;
  right: 16%;
  top: 35px;
  transform: translateY(-50%);
}
